{% include 'mcp_header.html' %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<style>
    #TableLinks tbody td { font-size:0.9em; }
    #TableLinks tbody td a { color: #105289; }
    #TableLinks tbody td.date { font-size:0.8em; }
</style>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" defer></script>

<h2>LIENS &nbsp; {{ TOP_TITLE }}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

    <table id="TableLinks" class="display" style="width:100%">
        <thead>
            <tr>
                <th>url</th>
                <th>message</th>
                <th>user</th>
                <th>date&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        <!-- BEGIN links -->
            <tr>
            <td class="url"><a href="{{ links.URL }}" target="blanck">{{ links.URL }}</a></td>
            <td ><a href="/viewtopic.php?p={{ links.POSTID }}#p{{ links.POSTID }}" target="blanck">post {{ links.POSTID }}</a></td>
            <td ><a href="/memberlist.php?mode=viewprofile&u={{ links.POSTERID }}" target="blanck">{{ links.NAME }}</a></td>
            <td class="date" title="{{ links.DATE }}">{{ links.DATE }}</td>
            </tr>
        <!-- END links -->
        </tbody>
    </table>

</div>

Liens des utilisateurs qui ont fait moins de 6 messages
{% include 'mcp_footer.html' %}

<script type="text/javascript">
$(document).ready( function () {
    //console.log($('#TableLinks'));

$('#TableLinks').dataTable( {
  "lengthMenu": [ [50, 100, -1], [50, 100, "All"] ]
} );

});
</script>
